body {
  display: flex;
  justify-content: center;
  border-radius: 25px;
}
.calculator {
  width: 400px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}
.number {
  height: 70px;
  width: 80px;
  background-color: rgb(245, 220, 183);
  border-radius: 15px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 75%;
}
.number:hover {
  opacity: 100%;
}
.symbol {
  height: 70px;
  width: 90px;
  border-radius: 15px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(222, 151, 58);
  opacity: 75%;
}
.symbol:hover {
  opacity: 100%;
}
#clear {
  background-color: rgb(255, 153, 0);
}
.display-box {
  height: 75px;
  width: 270px;
  background-color: rgb(168, 232, 187);
}
